version: "3.8"

services:
  db:
    image: postgres:15
    container_name: eveenty-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 231100
      POSTGRES_DB: eveenty
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    container_name: eveenty-app
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: >
      sh -c "
      npx prisma generate &&
      npx prisma migrate deploy &&
      npm run start
      "

volumes:
  pgdata:
